/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) 
{

  
    .grid--2-cols,
    .grid--3-cols {
      grid-template-columns: 1fr;
    }
  

     .grid--4-cols {
        grid-template-columns: 1fr 1fr;
    }

   /*  .grid:not(:last-child) {
        margin-bottom: 1rem;
      }*/


      .gallery-img-cls {
        margin-top: 0rem;
      }


    .container {
        width: 64rem;
    }

.step-img-box:nth-child(2) {
        grid-row: 1;
      }


      .logo {
        width: 20rem;
        margin-top: 5rem;
      }

      .heading-primary {
        font-size: 3.4rem;
        font-weight: 900;
        margin-left: 18rem;
        text-align: center;
        width: 50%;
        color: #fff;
        letter-spacing: 1rem;
        margin-top: 6.4rem;
        font-family: 'Fraunces', serif;
        }


          /* MOBILE NAVIGATION */

        .btn-mobile-nav {
            display: block;
              z-index: 9999;
            }

        .main-nav {
         background-color: #fff;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 30%;
        left: 10%;
        font-family: 'Fraunces', serif;
        font-weight: 700;
        font-weight: 900;
       
        width: 100%;
        width: 58rem;
        height: 100vh;
        height: 48rem;
        transform: translateX(100%);

        display: flex;
        
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;

            /* Hide navigation */
            /* Allows NO transitions at all */
            /* display: none; */

         /* 1) Hide it visually */
                opacity: 0;

            /* 2) Make it unaccessible to mouse and keyboard */
            pointer-events: none;

            /* 3) Hide it from screen readers */
         visibility: hidden;
            }

            .main-nav-list {
                display: flex;
                gap: 6rem;
                font-family: 'Fraunces', serif;
                color: aqua;
                font-weight:600;
            }


            .main-nav-link.nav-cta:link,
            .main-nav-link.nav-cta:visited {
              padding: 0.2rem 2rem;
              border-radius: 50px;
              text-transform: uppercase;
              color: black;
              background-color: yellow;
              font-family: 'Fraunces', serif;
              font-size: 2.4rem;
              padding-top: 3rem;
              padding-bottom: 3rem;
              padding-left: 4rem;
              padding-right: 4rem;

            }
            
            .main-nav-link.nav-cta:hover,
            .main-nav-link.nav-cta:active {
              background-color: transparent;
            }

         .nav-open .main-nav {
         opacity: 1;
            pointer-events: auto;
         visibility: visible;
         transform: translateX(0);
         }

         .nav-open .icon-mobile-nav[name="close-outline"] {
          display: block;
         }

         .nav-open .icon-mobile-nav[name="menu-outline"] {
          display: none;
         }

         .main-nav-list {
         flex-direction: column;
            }

         .main-nav-link:link,
        .main-nav-link:visited {
            font-size: 3rem;
            color: rgba(74, 74, 74, 0.601);
            font-family: 'Fraunces', serif;
            font-weight: 600;
            }

        .step-img-box-img {
            width: 64rem;
            }

            .step-text-box {
                width: 64rem;
            }

         .heading-tertiary {
            font-size: 4rem;
            text-align: center;
            width: 70%;
            margin-top: 6rem;
         }

         .step-description {
            font-size: 2rem;
            width: 70%;
            text-align: center;
         }

         .step-link:link,
         .step-link:visited {
           display: inline-block;
           text-decoration: none;
           color: black;
           font-family: 'Fraunces', serif;
           font-weight: bold;
           font-size: 1rem;
           transition: all 0.3s;
            font-size: 2rem;
            font-weight: bold;
            text-decoration-line: underline;
            text-decoration-color: yellow;
            padding-left: 14rem;
        }

        .heading-tertiarytwo {
            font-size: 4rem;
            text-align: center;
            width: 70%;
            margin-top: 6rem;
        }

        .step-link:link,
        .step-link:visited:last-child {
            text-decoration-color: rgb(234, 215, 221);
            text-decoration-line: underline;
            text-decoration-thickness: 3px;
            text-decoration-thickness: 5px;
        }
            
        .step-text-boxthree {
            height: 60rem;
        }
     
        .step-text-boxfour {
            height: 60rem;
        }

        .heading {
            font-size: 3rem;
            margin-left: 20rem;
            margin-top: 40rem;
        }

        .step, .stepzwei {
            font-size: 2rem;
            width: 70%;
            margin-left: 10rem;
            font-weight: bold;
            text-align: center;
        }

        .testimonials {
            font-size: 2rem;
            color: rgba(74, 74, 74, 0.601);
        }

        .clint-img {
            width: 8rem;
        }

        .clint-cont {
            font-size: 2rem;
            margin-top: -3rem;
        }

        .clint-name {
            font-size: 1.8rem;
        }

        .clint-business {
            color: rgba(74, 74, 74, 0.601);
            margin-bottom: 6rem;
        }


        .footer {
            height: 30rem;
        }

        .footer-header {
            margin-left: 25rem;
            font-size: 3rem;
            font-weight: bold;
        }

        .der {
            margin-left: 0rem;
            display: flex;
            gap: 6rem;
            margin-left: 32rem;
            font-size: 2rem;
            margin-top: 5rem;
        }

        .ion-icon {
            width: 10rem;
            height: 3rem;
            gap: -8rem;
        }

        .eseses {
            margin-left: 12rem;
        }
    }
